.board {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 0 auto;
}

.board__cell {
	margin-top: 1px;
	border-radius: 2px;
	background-color: rgb(140, 140, 140);
	width: 38px;
	height: 38px;
	padding: 5px;
}

.board__cell--disabled {
	background-color: rgba(140, 140, 140, 0.8);
	box-shadow: 0 0 0 5px rgba(140, 140, 140, 0.8) inset;
} 

@media (min-width: 768px) {	
	.board__cell {
		width: 60px;
		height: 60px;
		padding: 12px;
	}
}
