.records {
  margin: 10px 0;
  padding: 8px 16px;
  font-size: 14px;
  line-height: 28px;
  color: rgb(50, 50, 50);
  background-color: rgb(140, 140, 140);
}

.records__rows {
  margin: 0;
  padding: 0;
  list-style: none;
}

.records__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}

.records__cell {
  margin: 2px;
  padding: 4px 10px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1) inset;
}

.records__cell--left {
  width: 80%;
  text-align: left;
}

.records__cell--right {
  width: 20%;
  text-align: right;
}

.records__row--header .records__cell {
  background-color: rgba(0, 0, 0, 0.1);
}
